/*************General***************/
a{
	color: black;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: black;
}

a:visited{
	color: black;
}

section{
	display: block;
}

/*body{
	background: red;
}*/



/*************Gallery***************/
.marvel img{
	max-width: 100%;
	margin-bottom: 5%;
}

.marvel .inner{
	position: absolute;
	bottom: 40px; /*Sets the text further up*/
	box-sizing: border-box;
	width: 100%;
	left: 0px;
	padding: 10px 10px 0;
	text-align: center;
}

h3{
	padding: 2% 3%;
	color: #fff;
}

/*************Blog***************/
/******Hero Part*********/
#BigImage{
	background: rgb(18,30,42);
}

#BigImage img{
	max-width: 100%;
	
}

.givemeroom{
	padding: 0;
	margin:0;
}	
#overlay{
	color: #fff;
	position: absolute;
	top: 70%;
}

.blogpostimage{
	padding-top: 2.5%;
	vertical-align: center;
}

.Summarytitle{
	background: #fff;
	padding-top: 2.5%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	position: relative;
	bottom: 70px;
}

.SummaryText{
	position: relative;
	bottom: 70px;
}

/*****Blog Summary**********/




/*************About***************/





/*************Footer***************/
footer{
	background: rgb(18,30,42);
	padding: 10px 0;
}

.socialroom{
	padding: 2%;
}