/*************General***************/
a{
	color: black;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: black;
}

a:visited{
	color: black;
}

section{
	display: block;
}

/*************Big Image***************/
#BigImage{
	background: rgb(18,30,42);
}

#BigImage img{
	max-width: 100%;
	
}

.givemeroom{
	padding: 0;
	margin:0;
}

#textonpicture{
	position: absolute;
	top: 100px;
	color: #fff;
	/*background: rgb(18,30,42);*/
	opacity: 1%;
}

/*************Gallery***************/
.marvel img{
	max-width: 100%;
	margin-bottom: 5%;
}

.marvel .inner{
	position: absolute;
	bottom: 40px; /*Sets the text further up*/
	box-sizing: border-box;
	width: 100%;
	left: 0px;
	padding: 10px 10px 0;
	text-align: center;
}

h3{
	padding: 2% 3%;
	color: #fff;
}

/*************Blog***************/

#heroBlog{
	background-image: url(../img/IMG_1111.jpg);
	background-repeat: no-repeat;
	position: fixed;
	background-size: cover;
	max-width: 100%;
}

#heroBlog h2{
	padding-top: 40%;
	color: #fff;
}

#wrapper{
	background: #fff;
}

.SummaryImg{
	max-width: 100%;
}


/*************About***************/





/*************Footer***************/
footer{
	background: rgb(18,30,42);
	padding: 10px 0;
}

.socialroom{
	padding: 2%;
}